*.bd filter=lfs diff=lfs merge=lfs -text lockable
*.sm filter=lfs diff=lfs merge=lfs -text lockable
*.tt filter=lfs diff=lfs merge=lfs -text lockable
*.mw filter=lfs diff=lfs merge=lfs -text lockable
*.sb filter=lfs diff=lfs merge=lfs -text lockable
*.fc filter=lfs diff=lfs merge=lfs -text lockable
*.am filter=lfs diff=lfs merge=lfs -text lockable
interface filter=lfs diff=lfs merge=lfs -text lockable
*.ibd filter=lfs diff=lfs merge=lfs -text lockable
